*
{
    font-family: sans-serif;
}
.title {
    text-align: center;
    margin: 40px auto 30px;
}
.flip-card, img {
    width: 300px;
    height: 450px;
    margin: auto;
}
.flip-card-back {
    background-color: rgb(110, 106, 101);
    color: blanchedalmond;
    transform: rotateY(180deg);
    z-index: 1;
}
.flip-card-back .back-header {
    height: 45%;
    text-align: center;
}
.flip-card-back .back-header img {
    width: 150px;
    height: 200px;
    margin-top: 20px;
}
.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-back .back-footer {
    height: 55%;
    padding: 0 15px;
}
.back-footer a {
    text-align: center;
    width: 120px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 5px;
    border: 1px solid blanchedalmond;
    color: blanchedalmond;
    margin-top: 30px;
    transition: 0.1s;
}
.back-footer a:hover {
    background: darkblue;
    border: 1px solid darkblue;
}